include CHANGELOG
include CONTRIBUTORS
include LICENSE
include README.rst
include .travis.yml
include requirements.txt

recursive-include flask_mobility/tests *.py

recursive-include docs Makefile *.rst *.py *.less
recursive-include docs/_themes *
recursive-include docs/_static *
recursive-include docs/example *
